
body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #202020;
}

.page-1 {
    
}

header {
    background-color: 202020;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3em;
    font-weight: 100;
    color: white;
    margin-left: 2vw;
}

.page-link {
    color: black;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.5em;
    transition-duration: 0.4s;
    color: white;
    margin-right: 2vw;
}

.page-link:hover {
    opacity: 60%;
}

.page-link:visited {
    text-decoration: none;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12.5vh;
    margin-left: 1em;
    margin-right: 1em;
}

#title {
    font-size: 5vw;
    color: white;
}

.search-field {
    background-color: white;
    display: flex;
    justify-content: center;
    max-height: 3em;
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
}

#search-form {
    border: none;
    font-size: 1.5em;
    outline: none;
    background: none;
    max-width: 80vw;

}

#search-btn {
    font-size: 1.5em;
    border: none;
    background: none;
    transition-duration: 0.4s;
}

#search-btn:hover {
    cursor: pointer;
    opacity: 60%;
}

/* #results-container {
    height: auto;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

.list-item-container {
    background-color: white;
    width: 75vw;
    margin: 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.list-item-container:hover {
    opacity: 60%;
}

.list-item-title {
    font-size: 2.5rem;
    padding-left: .25rem;
    padding-right: .25rem;
}

.list-item-body {
    padding: .5rem;
    opacity: 60%;
    white-space: pre;
} */